


  <!-- User.all について、イケフレを選び終えてないUser.Faceを表示-->
  <!-- controller: @users = User.いけふれを並び終えていない -->
<%- @users.each do |user| %>
    <%= user.created_at %>
    <%= user.name %>
      <%- Face.where(user_id:user.id).each do |face| %>
        <%= form_for(face) do |f| %>
          <!-- <label for="photo"> -->
            <%= f.check_box :selected %>
            <!-- faceの写真 id:photo-->
          <!-- </label> -->
        <%= f.submit %>
      <% end %>
  <% end %>
<% end %>
